<html>
  <%- include('../layout/head', { title: `${title} - ${pageTitle}` }); %>
  <body>
    <%- include('../layout/header', { title }) %>
    <main id="main">
      <section class="content">
        <%- include('../users/standings-table', { users }) %>
      </section>
    </main>
  </body>
</html>
