<html>
  <%- include('../layout/head', { title: `My Picks` }); %>
  <body>
    <%- include('../layout/header') %>
    <main id="main">
      <section class="content">
        <!-- previous picks - dropdown to select week? -->
        <div>
          <%= user.name %>
        </div>
      </section>
    </main>
  </body>
</html>