/*=========
 * Globals
 ========*/

/* Links */
a,
a:focus,
a:hover {
  color: #000;
}

a:hover {
  cursor: pointer;
}

/*================
 * Base structure
 ================*/

html,
body {
  height: 100%;
}

body {
  background-color: #FFF;
  background-position: 50% 50%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  text-align: center;
}

/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  vertical-align: top;
  margin-right: auto;
  margin-left: auto;
}

/*========
 * Header
 ========*/

.header {
  font-family: 'Nothing You Could Do', cursive;
  margin: 0 auto;
  max-width: 1180px;
}
.header-text {
  text-shadow: 0 1px 3px rgba(0,0,0,.5);
  color: rgba(0, 0, 0, 0.9);
  font-size: 75px;
  padding: 10px 0;
}

/* Padding for spacing */
.section {
  margin: 0 auto;
  max-width: 1180px;
  background-color: #fff;
}

/* Section container styles */
.container {
  font-family: 'Comfortaa', sans-serif;
  margin: 0 auto;
}

/* Section heading styles */
.section-heading {
  color: rgba(0, 0, 0, 0.9);
  text-shadow: 0 1px 1px rgba(0,0,0,.5);
  font-size: 48px;
}

/*====================
 * Initial nav screen
 ===================*/

.landing-container {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  font-family: 'Comfortaa', sans-serif;
  margin: 0 auto;
  max-width: 1180px;
}
.landing-nav {
  color: rgba(0, 0, 0, 0.9);
  cursor: pointer;
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
  -webkit-transition: all 1s;
  transition: all 1s;
}
.landing-nav.big {
  font-size: 48px;
  height: 230px;
  line-height: 230px;
}
.landing-nav.selected span {
  font-weight: 600;
}

/*===============
 * About Section
 ==============*/

 #about {
  display: none;
 }
.lead {
  padding-top: 90px;
  color: rgba(0, 0, 0, 0.9);
}
.about-container {
  padding: 35px;
}
.lead a {
  font-weight: bold;
}
.lead a:hover {
  text-decoration: none;
  /*color: rgba(0, 0, 0, 0.2);*/
  color: rgba(150, 50, 250, 0.6);
}
.lead a:focus a:visited a:active {
  text-decoration: none;
}

/*==================
 * Projects Section
 =================*/

#projects {
  display: none;
}
.projects-container {
  padding: 35px 10px 35px 10px;
}
.projects-row {
  padding-top: 20px;
  display: inline-block;
}
.project-cubes {
  color: rgba(0, 0, 0, 0.6);
  display: inline-block;
  padding: 1px;
  width: 300px;
  height: auto;
  text-align: center;
  margin: 0 auto;
}
.project-cubes img {
  margin: 0 auto;
  display: inline-block;
  width: auto;
  height: 150px;
  padding: 0 10px 0 10px;
  border-bottom: 1px solid black;
}
.project-cubes img:hover {
  opacity: 0.8;
}

/*==================
 * Contacts Section
 =================*/

#contact {
  display: none;
}
.contact-container {
  padding: 15px 35px 25px 35px;
}
.contact-links {
  padding: 90px 110px 0 110px;
}
.contact-links img {
  width: 60px;
  padding: 5px;
  opacity: 0.8;
}
.contact-links img:hover {
  opacity: 0.5;
}
.contact-links a {
  color: rgba(0, 0, 0, 0.6);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}
.contact-links a:hover {
  text-decoration: none;
}
.contact-links img:visited img:active img:focus a:visited a:active a:focus {
  text-decoration: none;
}
.contact-text {
  height: 21px;
  padding: 0 110px;
  font-size: 15px;
}
.deep-contact {
  display: none;
}

/*==================
 * Media Queries
 =================*/

@media (max-width: 489px) {
  .landing-container {
    padding: 160px 20px 0 20px;
  }
  .section {
    padding: 0 20px;
  }
  .lead a {
    color: rgba(150, 50, 250, 0.6);
  }
  .project-cubes {
    width: 275px;
    height: auto;
  }
  .project-cubes img {
    width: 275px;
    height: auto;
  }
  .project-cubes img:hover {
    opacity: 1;
  }
  .contact-container {
    padding: 35px 0 35px 0;
  }
  .contact-links {
    padding: 30px 30px 0px 30px;
  }
  .contact-links img:hover {
    opacity: 0.8;
  }
  .twitter-link, .github-link {
    padding-top: 20px;
  }
}

@media (min-width: 490px) and (max-width: 767px) {
  .site-wrapper {
    vertical-align: middle;
  }
  .landing-container {
    padding-top: 120px;
  }
  .contact-links {
    padding: 30px 35px 0px 35px;
  }
  .twitter-link, .github-link {
    padding-top: 20px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  /* Start the vertical centering */
  .site-wrapper {
    vertical-align: middle;
  }
  /* Handle the widths */
  .about-container,
  .projects-container,
  .contacts-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
  .contact-links {
    padding: 30px 50px 20px 50px;
  }
}

@media (min-width: 992px) {
  .about-container,
  .projects-container,
  .contact-container {
    width: 100%;
  }
}